:root {
    --main-title-color: #ffffff;
    --main-text-color: #E8E8E8;
    --placeholder-text-color: #999999;
    --blue-color: #5474FD;
    --red-color: #FF6363;
    --secondary-blue-color: #00A2FF;
    --black-color: #333333;
    --black-for-opacity: #232323;
}