<section class="benefits container">
    <h2 class="benefits__title">Why Choose Us</h2>
    <p class="benefits__text">Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded
    by desire, that they cannot foresee Ddislike men who are so beguiled and demoralized by the charms of pleasure of the
    moment, so blinded by desire, that.</p>
    <button class="benefits__btn">Explore Places</button>
    <ul class="benefits__explanation">
        <li class="benefits__item">Search Places</li>
        <li class="benefits__item">Select Places</li>
        <li class="benefits__item">Book &#x26; Enjoy</li>
    </ul>
</section>