<header class="header container">
    <nav class="header__site-nav">
        <a href="" class="header__logo">bhromaon</a>
        <button type="button" class="header__btn" aria-label="Mobile menu switch">
            <svg class="header__icon-btn" width="40" height="40">
                <use href="./images/icons.svg#icon-burger"></use>
            </svg>
        </button>
        <div class="header__mob-menu">
            <button type="button" class="header__btn-close" aria-label="Mobile menu switch">
                <svg class="icon-btn-close" width="40" height="40">
                    <use href="./images/icons.svg#icon-close-btn"></use>
                </svg>
            </button>
            <ul class="header__menu-list list">
                <li class="header__menu-item">Who We Are</li>
                <li class="header__menu-item">What We Do</li>
                <li class="header__menu-item">Travel With Us</li>
                <li class="header__menu-item">Contact Us</li>
            </ul>
        </div>
    </nav>
</header>