<section class="hero container">
    <h1 class="hero__title">bhromaon</h1>
    <p class="hero__text">Safe Travel Anywhere</p>
    <form class="hero__form">
        <input type="text">
        <button type="button" class="hero__btn">search
            <svg class="hero__icon" width="22" height="24">
                <use href="./images/icons.svg#icon-search"></use>
            </svg>
        </button>
    </form>
    <p class="hero__text">Scroll Down</p>
    <svg class="hero__icon" width="17" height="11">
        <use href="./images/icons.svg#icon-arrow-down"></use>
    </svg>
</section>