<section class="hotels container">
    <ul class="hotels__list">
        <li class="hotels__item">
            <p class="hotels__top-text">Spain</p>
            <h3 class="hotels__title">Grand Spain Madrid</h3>
            <p class="hotels__main-text">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system</p>
            <button class="hotels__btn">Book Now</button>
        </li>
        <li class="hotels__item">
            <p class="hotels__top-text">Spain</p>
            <h3 class="hotels__title">Grand Spain Madrid</h3>
            <p class="hotels__main-text">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system</p>
            <button class="hotels__btn">Book Now</button>
        </li>
    </ul>
</section>